.dashboard-users-list {
    width: 100%;
}

.dashboard-users-list .user-item-card {
    background-color: white;
    height: 12rem;
    border: 1px solid #00000014;
    margin-bottom: 2rem;
}

.user-short-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-family: "Poppins" sans-serif;
}

.user-short-details .first {
    display: flex;
    flex-direction: row;
    flex: 1
}

.dashboard-users-list .user-short-details .first .user-id {
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    font-family: sans-serif;
}

.dashboard-users-list .user-short-details .first .user-profile {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    background-color: gray;
}

.dashboard-users-list .user-short-details .actions {
    display: flex;
}

.dashboard-users-list .user-short-details .actions svg {
    width: 50%;
    height: 2rem;
}

.dashboard-users-list .user-short-details .toogle-button {
    height: 2rem;
    width: 3.8rem;
}

.dashboard-users-list .user-short-details .toogle-button svg {
    opacity: 0;
}

.dashboard-users-list .user-short-details .first .user-profile img {
    object-fit: contain;
    height: 100%;
    object-position: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
}

.dashboard-users-list .user-details {
    padding: 0rem 1.1rem;
    font-family: "Poppins" sans-serif;
}

.dashboard-users-list .user-details .user-details-item {
    margin-top: 0.4rem;
    letter-spacing: 1px;
}