.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    flex: 2;
    position: relative;
    background-image: url('../../images/Ellipsis.svg');
    background-position: center -8vh;
    color: white;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.header-container .title-container,
.header-container .input-container {
    padding: 3rem 2rem 0rem 2rem;
}

.header-container .title-container {
    flex: 1;
}

.header-container .title-container>div:first-child {
    height: 2rem;
}

.header-container .input-container {
    flex: 3;
}

.title {
    font-size: 1.875rem;
    font-weight: 600;
}

.lead {
    letter-spacing: 1px;
}

.label {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
}

.social-media-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.social-media-container .social-link-instruction {
    text-align: center;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-container .social-media-links {
    display: flex;
    justify-content: space-evenly;
    flex: 2
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    transform: translate(0px, 16px);
}

.button-container>button {
    width: 42%;
}

.user-profile .title-bar {
    background-color: transparent!important;
    padding-top: 1rem!important;
}