.toogle-button {
    width: 6.2rem;
    height: 3rem;
    background-color: #fbfbfb;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.toogle-button .inner-circle {
    height: 84%;
    width: 45%;
    background-color: var(--colorTeal);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .2s;
}

.toogle-button .inner-circle svg {
    width: 2rem;
}

.shutdown-container {
    display: flex;
    align-items: center;
}

.shutdown-container>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;
    font-weight: 600;
}