.billing-page {
    height: 100%;
}

.user-short-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-family: "Poppins" sans-serif;
}

.user-short-details .first {
    display: flex;
    flex-direction: row;
    flex: 1
}

.billing-page .user-short-details .first .user-id {
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    font-family: sans-serif;
}

.billing-page .user-short-details .first .user-profile {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    background-color: gray;
}

.billing-page .user-short-details .actions {
    display: flex;
}

.billing-page .user-short-details .actions svg {
    width: 50%;
    height: 2rem;
    cursor: pointer;
}

.billing-page .user-short-details .toogle-button {
    height: 2rem;
    width: 3.8rem;
}

.billing-page .user-short-details .toogle-button svg {
    opacity: 0;
}

.billing-page .user-short-details .first .user-profile img {
    object-fit: cover;
    height: 100%;
    object-position: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
}

.billing-page .user-details {
    display: flex;
    padding-top: 1.7rem;
}

.billing-page .user-details .user-bills {
    flex: 2;
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
}

.billing-page .user-details .date-picker {
    flex: 2;
}