.login-dashboard {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(22, 160, 133, 0.82) 0%, rgba(22, 160, 133, 0.82) 100%), url("../../images/ElectricalNetwork.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 30%;
    height: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 1.3rem;
    box-shadow: 0 1.5px 3.7px rgba(0, 0, 0, 0.011), 0 3.5px 8.8px rgba(0, 0, 0, 0.016), 0 6.6px 16.5px rgba(0, 0, 0, 0.02), 0 11.8px 29.5px rgba(0, 0, 0, 0.024), 0 22.1px 55.1px rgba(0, 0, 0, 0.029), 0 53px 132px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-container .form-title {
    font-size: 1.7rem;
}

.form-container .form-title span:nth-child(1) {
    color: #0000006b;
}

.form-container .form-title span:nth-child(2) {
    color: var(--colorTeal);
}

.form-container .form-inputs {
    width: 90%;
    height: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-container .form-inputs input.form-control {
    background-color: #F1F1F1;
    color: black;
    padding: 0.7rem 0.6rem;
}

.form-container .form-inputs .form-control:focus {
    border-color: black;
    border-bottom: 3px solid var(--colorTeal);
    outline: none;
}

.form-container .form-inputs ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.7;
    /* Firefox */
}

.form-container .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .button,
.form-container button {
    width: 90%;
}