button.ui.button.btn.btn-light {
    background-color: white;
    border-radius: 34rem;
    font-size: 0.6rem;
    background-color: white;
    border-radius: 34rem;
    font-size: 1.2rem;
    box-shadow: 0 1.5px 3.7px rgba(0, 0, 0, 0.011), 0 3.5px 8.8px rgba(0, 0, 0, 0.016), 0 6.6px 16.5px rgba(0, 0, 0, 0.02), 0 11.8px 29.5px rgba(0, 0, 0, 0.024), 0 22.1px 55.1px rgba(0, 0, 0, 0.029), 0 53px 132px rgba(0, 0, 0, 0.04);
}

button.ui.button.btn.btn-dark {
    border-radius: 34rem;
    font-size: 0.6rem;
    background-color: white;
    border-radius: 34rem;
    font-size: 1.2rem;
    box-shadow: 0 1.5px 3.7px rgba(0, 0, 0, 0.011), 0 3.5px 8.8px rgba(0, 0, 0, 0.016), 0 6.6px 16.5px rgba(0, 0, 0, 0.02), 0 11.8px 29.5px rgba(0, 0, 0, 0.024), 0 22.1px 55.1px rgba(0, 0, 0, 0.029), 0 53px 132px rgba(0, 0, 0, 0.04);
    background-color: var(--colorGray);
    color: white;
}

button.ui.button.btn.btn-teal {
    border-radius: 34rem;
    font-size: 0.6rem;
    background-color: white;
    border-radius: 34rem;
    font-size: 1.2rem;
    box-shadow: 0 1.5px 3.7px rgba(0, 0, 0, 0.011), 0 3.5px 8.8px rgba(0, 0, 0, 0.016), 0 6.6px 16.5px rgba(0, 0, 0, 0.02), 0 11.8px 29.5px rgba(0, 0, 0, 0.024), 0 22.1px 55.1px rgba(0, 0, 0, 0.029), 0 53px 132px rgba(0, 0, 0, 0.04);
    background-color: var(--colorTeal);
    color: white;
}