.monthly-consumption {
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.circular-graph {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.consumption-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.monthly-consumption .consumption-button {
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
}

.monthly-consumption .consumption-container .label {
    font-size: 0.9rem;
}

button.ui.button.btn.btn-teal {
    font-size: 1rem;
}

#canvasjs-react-chart-container {
    height: 5rem;
}

canvas.canvasjs-chart-canvas {
    width: 100%!important;
    height: 17rem!important;
    position: absolute!important;
    -webkit-user-select: none!important;
    user-select: none!important;
}

.chart-container>div {
    height: 15rem!important;
}

a.canvasjs-chart-credit {
    display: none;
}