.register-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.register-customer .defining-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 68%;
}

.profile-picture .label,
.progress-container .label {
    font-size: 0.80rem;
    padding: 0.35rem;
    border-radius: 0.5rem;
    background-color: #16a08529;
    margin-left: 1.5rem;
    color: #000000a6;
}

.profile-picture .label {
    padding: 0.2rem;
    background-color: #16a08563;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.profile-picture .label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.progress-bar-container {
    display: flex;
    align-items: center;
}

.progress-bar-container>div:nth-child(2n+1) {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0000001a;
    transition: all ease-in-out .3s;
}

.progress-bar-container>div:nth-child(2n+1).active {
    transform: scale(1.3);
}

.profile-picture {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 1.4rem 0rem;
}

.profile-picture .user-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: gray;
    box-shadow: 0 2.2px 11.6px -13px rgba(0, 0, 0, 0.014), 0 6px 32.2px -13px rgba(0, 0, 0, 0.02), 0 14.5px 77.5px -13px rgba(0, 0, 0, 0.026), 0 48px 257px -13px rgba(0, 0, 0, 0.04)
}

.profile-picture .user-pic img {
    object-fit: cover;
    height: 100%;
    object-position: center;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.progress-bar-container>div:nth-child(2n) {
    width: 3rem;
    height: 0.3rem;
    background-color: white;
    border: 1px solid #0000000e;
}

.progress-bar-container>div:nth-child(1)::after {
    position: relative;
}

.user-form {
    width: 70%;
}

.form-input-container .wrapper {
    margin: 1.2rem 0rem;
    width: 70%;
}

.form-input-container input.form-control {
    background-color: white;
    color: black;
    padding: 0.7rem 2.3rem;
    border: 1px solid #b5b5b54d;
    border-radius: 10rem;
}

.form-input-container input.form-control:focus {
    border: 2px solid #16a08563;
    outline: none;
}

.form-input-container ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.712);
    opacity: 0.7;
    /* Firefox */
}

.register-customer .button-container {
    width: 28%;
    justify-content: flex-end;
}