.card-item.consumption-item {
    height: 20%;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem
}

.card-item.consumption-item .left .price {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.card-item.consumption-item .right {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    color: var(--colorTeal);
    letter-spacing: 1px;
}