.control {
    display: flex;
    align-items: center;
}

.control .card-item {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.control .card-item .control-item {
    display: flex;
    flex-direction: row;
}

.control .card-item .control-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.control .card-item .control-item>div:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
}

.control .card-item .control-item>div:nth-child(2) {
    font-size: 1rem;
}

.modal {
    position: absolute;
    width: 100%;
    height: 82%;
    left: 0;
    background-color: #000000a1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-container {
    background-color: white;
    width: 90%;
    height: 50%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-container .label-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.modal .modal-container .input-container {
    flex: 4;
}

.modal .modal-container .input-container .wrapper {
    width: 90%;
}

.modal .modal-container .form-group input {
    color: black;
    border-bottom: 2px solid var(--colorTeal);
    width: 100%;
}

.modal .modal-container .form-item {
    display: flex;
    font-size: 1rem;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}