.bill-card-item {
    display: flex;
    background-color: white;
    height: 6rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0rem 0.8rem;
    width: 80%;
    margin-bottom: 1rem;
}

.bill-card-item .icon,
.bill-card-item .download {
    flex: 1;
}

.bill-card-item .icon svg {
    width: 50%;
    opacity: 0.8;
}

.bill-card-item .content {
    flex: 4;
}

.bill-card-item .content>div {
    margin-bottom: 0.2rem;
}

.bill-card-item .download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bill-card-item .download svg {
    width: 51%;
    cursor: pointer;
    transition: all ease-in .3s;
}

.bill-card-item .download svg:hover {
    transform: scale(1.1);
}