.devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.fab-button {
    position: absolute;
    background-color: var(--colorTeal);
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5rem;
    right: 1.7rem;
    box-shadow: 0 2.4px 4px rgba(0, 0, 0, 0.02), 0 5.7px 9.6px rgba(0, 0, 0, 0.028), 0 10.8px 18.2px rgba(0, 0, 0, 0.035), 0 19.2px 32.4px rgba(0, 0, 0, 0.042), 0 35.9px 60.6px rgba(0, 0, 0, 0.05), 0 86px 145px rgba(0, 0, 0, 0.07);
}

.fab-button svg {
    width: 1.5rem;
}