.main-page {
    height: 100vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.main-page>div {
    width: 100%;
}

.main-page .title-bar {
    flex: 1;
    background-color: white;
    box-shadow: 0 2.2px 11.6px -13px rgba(0, 0, 0, 0.014), 0 6px 32.2px -13px rgba(0, 0, 0, 0.02), 0 14.5px 77.5px -13px rgba(0, 0, 0, 0.026), 0 48px 257px -13px rgba(0, 0, 0, 0.04);
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-page .title-bar .menu-icon {
    margin-right: 1.5rem;
}

.main-page .title-bar .menu-icon svg {
    width: 1.8rem;
}

.main-page .title-bar .menu-title {
    font-weight: 600;
    opacity: 0.8;
    letter-spacing: 1px;
}

.main-page .page-contain {
    flex: 10
}

.main-page .bottom-menu {
    flex: 1.3;
    background-color: white;
    box-shadow: 0 1.1px 3.5px rgba(0, 0, 0, 0.018), 0 2.6px 8.1px rgba(0, 0, 0, 0.026), 0 4.6px 14.6px rgba(0, 0, 0, 0.032), 0 7.7px 24.2px rgba(0, 0, 0, 0.038), 0 12.7px 39.9px rgba(0, 0, 0, 0.044), 0 22.2px 69.8px rgba(0, 0, 0, 0.052), 0 48px 151px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-page .bottom-menu .menu-item svg {
    width: 1.9rem;
}

.main-page .bottom-menu .menu-item svg path {
    opacity: 0.65;
    fill: #4B4B4B;
}

.main-page .bottom-menu .menu-item.active svg path {
    fill: #16A085;
}

.main-page .page-contain {
    padding: 1rem 0.8rem;
}

.card-item {
    background-color: white;
    height: 40%;
    border-radius: 0.6rem;
    display: flex;
}

.card-item>div {
    flex: 1;
}