.form-group {
    position: relative;
}

.form-group::after {
    position: absolute;
    bottom: 0;
    left: 49%;
    z-index: 1;
    content: "";
    width: 2%;
    height: 2px;
    visibility: hidden;
    background-color: #2196F3;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.form-group.is-focused::after {
    left: 0;
    width: 100%;
    visibility: visible;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px 1px;
    font-family: 'Open Sans', sans-serif;
    color: #667;
    border: none;
    border-bottom: 2px solid #fff;
    transition: all ease-in .2s;
}

.form-control:focus {
    border-color: #ccc;
    border-bottom: 3px solid #fff;
    outline: none;
}

input.form-control {
    background-color: transparent;
    color: white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7;
    /* Firefox */
}