.page-contain {
    height: 100%;
}

.user-profile .user-profile-header {
    background-image: url('../../images/Ellipsis.svg');
    height: 10rem;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    left: 0;
    background-position: bottom;
}

.user-profile .user-profile-header svg {
    margin-right: 1rem;
}

.user-profile .user-profile-header svg rect {
    fill: #fffF;
}

.user-profile .user-profile-header .menu-title {
    color: white;
}

.user-profile .user-icon-container {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, 50px);
    box-shadow: 0 2.2px 11.6px -13px rgba(0, 0, 0, 0.014), 0 6px 32.2px -13px rgba(0, 0, 0, 0.02), 0 14.5px 77.5px -13px rgba(0, 0, 0, 0.026), 0 48px 257px -13px rgba(0, 0, 0, 0.04);
}

.user-profile .user-icon-container svg {
    width: 10rem;
    height: 3rem;
    margin-right: 0rem;
}

.user-profile .user-icon-container svg path {
    fill: var(--colorTeal);
}

.user-profile .user-details {
    margin-top: 11.5rem;
    margin-bottom: 1.2rem;
}

.user-profile .consumption-button {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
}

.user-profile .user-details .username {
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
}

.user-profile .user-details .user-email {
    text-align: center;
    font-size: 1.1rem;
}