.main-dashboard {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
}

.main-dashboard>.left-menu {
    padding: 2rem 1rem;
    flex: 1.3;
    background-color: white;
    box-shadow: -3px 1px 7px 3px #00000014;
    position: relative;
}

.main-dashboard>.right-side {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.main-dashboard>.right-side .search-container {
    flex: 0.9;
    background-color: white;
    box-shadow: 0 2.2px 11.6px -13px rgba(0, 0, 0, 0.014), 0 6px 32.2px -13px rgba(0, 0, 0, 0.02), 0 14.5px 77.5px -13px rgba(0, 0, 0, 0.026), 0 48px 257px -13px rgba(0, 0, 0, 0.04);
}

.main-dashboard>.right-side .dash-body {
    flex: 8;
}

.left-menu .brand-title {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.left-menu .brand-container {
    display: flex;
    align-items: center;
}

.left-menu .brand-title span:nth-child(1) {
    color: #0000006b;
}

.left-menu .brand-title span:nth-child(2) {
    color: var(--colorTeal);
    margin-left: 0.4rem;
}

.three-dots svg {
    width: 90%;
    position: absolute;
    bottom: 0rem;
}

.left-menu .menu {
    margin-top: 2rem;
}

.left-menu .menu .menu-item:hover {
    cursor: pointer;
    background-color: #16a08582;
    border-radius: 0.4rem;
}

.left-menu .menu .menu-item {
    font-weight: 600;
    padding: 0.7rem 0.4rem;
    margin-bottom: 0.2rem;
    transition: all ease-in .2s;
}

.left-menu .menu .menu-item.active {
    background-color: #16a08582;
    border-radius: 0.4rem;
}

.right-side .search-container {
    display: flex
}

.right-side .search-field {
    flex: 8;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
}

.right-side .search-input-container {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.right-side .search-input-container>svg {
    position: absolute;
    z-index: 10;
    height: 1rem;
    left: 0.5rem;
}

.right-side .search-container .search-input-container input.form-control {
    background-color: white;
    color: black;
    padding: 0.7rem 2.3rem;
    border: 1px solid #b5b5b54d;
    border-radius: 10rem;
}

.right-side .search-container .search-input-container input.form-control:focus {
    border: 2px solid #16a08563;
    outline: none;
}

.right-side .search-container .search-input-container ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.712);
    opacity: 0.7;
    /* Firefox */
}

.right-side .search-container .user-actions {
    flex: 1.5;
    display: flex;
    align-items: center;
}

.right-side .search-container .user-actions svg {
    width: 65%;
    height: min-content;
    transition: all ease-in-out .3s;
    height: 2.8rem;
    margin-top: 0.5rem;
}

.right-side .search-container .user-actions svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.right-side .search-container .user-actions .user-pic {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    background-color: gray;
}

.right-side .search-container .user-actions .user-pic img {
    object-fit: cover;
    height: 100%;
    object-position: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
}

.dash-body {
    padding: 2rem;
    overflow-y: scroll;
}