.pie-wrapper {
    display: inline-block;
    position: relative;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    margin: 10px;
    border: 10px solid #ddd;
    border-radius: 50%;
}

.pie-wrapper .pie {
    clip: rect(0, 200px, 200px, 100px);
    height: 200px;
    position: absolute;
    width: 200px;
    margin: -10px 0 0 -10px;
    width: 8rem;
    height: 8rem;
}

.pie-wrapper .pie .half-circle {
    border: 10px solid var(--colorTeal);
    clip: rect(0, 100px, 200px, 0);
    height: 8rem;
    position: absolute;
    width: 8rem;
    border-radius: 50%;
}

.pie-wrapper .label {
    position: absolute;
    top: 11%;
    left: 11%;
    display: block;
    width: 7rem;
    color: #7f8c8d;
    cursor: default;
    font-size: 2em;
    line-height: 2.8em;
    text-align: center;
    border-radius: 50%;
    display: block;
    border-radius: 73%;
    width: 80%;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.02), 0 0px 5.3px rgba(0, 0, 0, 0.028), 0 0px 10px rgba(0, 0, 0, 0.035), 0 0px 17.9px rgba(0, 0, 0, 0.042), 0 0px 33.4px rgba(0, 0, 0, 0.05), 0 0px 80px rgba(0, 0, 0, 0.07);
}

.pie-wrapper .label em {
    padding-bottom: 20px;
    color: #bdc3c7;
    font-size: .45em;
    vertical-align: super;
    font-style: normal
}

.pie-wrapper .shadow {
    width: 100%;
    height: 100%;
    border: 20px solid #bdc3c7;
    border-radius: 50%
}

.pie-wrapper.progress-half .pie .right-side {
    display: none
}

.pie-wrapper.progress-half .pie .half-circle {
    border-style: solid;
    border-image: -webkit-linear-graident(#ff0000, #ffff00)
}

.pie-wrapper.progress-half .pie .left-side,
.pie-wrapper.progress-full .pie .left-side {
    -webkit-transform: rotate(165deg);
    -moz-transform: rotate(165deg);
    transform: rotate(165deg)
}

.pie-wrapper.progress-full .pie .left-side {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg)
}

.pie-wrapper.progress-full .pie {
    clip: inherit
}

.pie-wrapper.progress-full .pie .right-side {
    display: block
}

.pie-wrapper.progress-full .pie .right-side {
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    transform: rotate(300deg)
}

div,
div:before,
div:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.volts {
    font-size: 0.9rem;
    height: 4.2rem;
    padding-top: 0.2rem;
}

.value {
    color: var(--colorTeal);
    height: 1rem;
    font-family: 'Poppins', sans-serif;
}