.device-item.card-item {
    width: 40%;
    height: 30%;
    box-shadow: 0 2.2px 11.6px -13px rgba(0, 0, 0, 0.014), 0 6px 32.2px -13px rgba(0, 0, 0, 0.02), 0 14.5px 77.5px -13px rgba(0, 0, 0, 0.026), 0 48px 257px -13px rgba(0, 0, 0, 0.04);
}

.device-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.device-item .device-image {
    display: flex;
    justify-content: center;
    flex: 3;
}

.device-item svg {
    width: 65%;
}

.device-item .device-label {
    font-size: 0.9rem;
    font-weight: 600;
}