.device-header {
    height: 17%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.device-header .back-button {
    margin-right: 1rem;
    width: 1.8rem;
}

.device-header .back-button svg path {
    fill: var(--colorTeal);
}

.device-details .device-item {
    height: 9rem;
    margin-left: auto;
    margin-right: 1.4rem;
    margin-top: 0.8rem;
    width: 59%;
    margin-top: 2rem;
}

.device-label {
    font-size: 1.1rem;
    font-weight: 600;
}

.device-details .details.card-item {
    margin-top: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.detail-item {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    margin-top: 1.6rem;
}

.detail-item .label {
    font-size: 1rem;
    font-size: 0.98rem;
    padding-bottom: 0.2rem;
}

.detail-item .value {
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    padding-top: 0.3rem;
}