/*setting global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*defining global styles*/

:root {
    --colorTeal: #16A085;
    --colorGray: #4B4B4B;
}

html {
    font-size: 16px;
}

body {
    font-family: "Raleway";
    width: 100%!important;
}

.flex {
    display: flex;
}

.column-direction {
    display: flex;
    flex-direction: column;
}

.row-direction {
    display: flex;
    flex-direction: row;
}

.child-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100%;
}